$header-bg: #fafaf9;
$header-color: #514f4d;
$border-color: #dddbda;
$cell-bg: #fff;
$stripe-color: #f3f2f2;

.sticky-table {
  background: $stripe-color;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;

  .sticky-table-table {
    display: table;
    min-width: 100%;
    box-sizing: border-box;
  }
  .sticky-table-row {
    display: table-row;

    &:hover {
      background: darken($stripe-color, 10%);
    }
  }
  .sticky-table-cell {
    display: table-cell;
    box-sizing: border-box;
    padding: 0.25rem 0.6rem calc(0.25rem - 1px);
    border-bottom: 1px solid $border-color;
    white-space: nowrap;
  }
}

// zebra striping
.sticky-table-row {
  background: $cell-bg;

  // fixed checkbox column
  .sticky-table-cell:first-child {
    background: darken($cell-bg, 5%);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  &:nth-child(odd) {
    // striping for rows
    background: $stripe-color;

    // fixed checkbox column
    .sticky-table-cell:first-child {
      background: darken($stripe-color, 2.5%);
    }
  }

  &:hover {
    // fixed checkbox column
    .sticky-table-cell:first-child {
      background: inherit;
    }
  }
}

// header row
.sticky-table-row:first-child {
  .sticky-table-cell {
    background: $header-bg !important;
    color: $header-color;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.data-table {
  position: relative;
  border: 1px solid $border-color;
  transition: opacity 0.5s ease-in-out;

  &.compact {
    font-size: 0.7rem;
  }

  &.transient {
    opacity: 0.5;
  }

  .checkbox-cell {
    width: 33px;
    padding: 0;

    label {
      position: relative;
      top: -1px;
      display: block;
      padding: 0.2rem 0 calc(0.25rem - 1px) 0.5rem;
    }
  }

  [data-cell-type='address'] span {
    margin-right: 1em;

    &:empty {
      display: none;
    }
  }

  [data-cell-type='base64'],
  [data-cell-type='boolean'] {
    text-align: center;
  }

  [data-autonumber='true'],
  [data-cell-type='currency'],
  [data-cell-type='double'],
  [data-cell-type='date'],
  [data-cell-type='datetime'],
  [data-cell-type='int'],
  [data-cell-type='location'],
  [data-cell-type='percent'] {
    text-align: right;
  }

  [data-size='wide'],
  [data-cell-type='address'],
  [data-cell-type='textarea'] {
    max-width: 50vw;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:empty) {
      min-width: 35em;
    }
  }

  [data-cell-type='multipicklist'] ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  [data-sort]:hover {
    background: #def !important;
    color: #036;
    cursor: pointer;
  }
  [data-sort='ASC'] {
    box-shadow: inset 0 -3px 0 -1px #0070d2;
  }
  [data-sort='DESC'] {
    box-shadow: inset 0 3px 0 -1px #0070d2;
  }
}
