.item-picker-search {
  display: flex;

  .search-bar {
    flex: 1;
    margin-right: 0.5rem;

    li:last-child {
      flex: 1;
    }
  }
  .search-input input {
    border-left-color: #eee;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
