.item-picker {
  height: 100%;

  & > .slds-card__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    .filter-table {
      flex: 1;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  .slds-page-header ~ .slds-page-header {
    padding-top: 0;
    border-radius: 0;
  }

  [data-type='percent']:not(:empty):after {
    content: '%';
    margin-left: 0.25em;
    opacity: 0.5;
  }

  [data-currency]:after {
    content: attr(data-currency);
    margin-left: 0.5em;
    opacity: 0.5;
  }
}
