.query-filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.query-filters-label {
  margin-right: 0.5em;
  font-weight: bold;
}
.query-filter {
  margin: 0.2rem;

  svg {
    width: 0.8rem !important;
    height: 0.8rem !important;
    margin: 0.25rem;
  }

  [data-type='percent']:not(:empty):after {
    content: '%';
    margin-left: 0.25em;
    opacity: 0.5;
  }

  [data-currency]:after {
    content: attr(data-currency);
    margin-left: 0.5em;
    opacity: 0.5;
  }
}
