.query-filters {
  margin: -0.8rem -0.1rem -0.1rem;
}
.query-filters-label {
  margin-right: 0.5em;
  font-weight: bold;
}
.query-filter {
  max-width: calc(100% - 0.2rem);
  margin: 0.1rem;

  svg {
    width: 0.8rem !important;
    height: 0.8rem !important;
    margin: 0.25rem;
  }

  [data-type='percent']:not(:empty):after {
    content: '%';
    margin-left: 0.25em;
    opacity: 0.5;
  }

  [data-currency]:after {
    content: attr(data-currency);
    margin-left: 0.5em;
    opacity: 0.5;
  }
}
