.item-picker-search {
  .slds-button-group-list {
    width: 100%;

    li:last-child {
      flex: 1;

      .slds-input {
        border-left-color: #eee;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
