.item-picker-search {
  .search-bar {
    width: 100%;

    li:last-child {
      flex: 1;
    }
  }
  .search-input input {
    border-left-color: #eee;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
